body {
  background: #E7E7E7;
  font-size: 1em;
  margin: 10px;
  font-family: Verdana;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  width: 150px;
}

form label {
  display: block;
  width: 200px;
  float: left;
}

button {
  margin-top: 50px;
}

.dica {
  font-size: 0.8em;
  font-style: italic;
}

.botoes {
  text-align: center;
}
