<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.lfernandoqapps.horasluzratchet" version="0.1.1">
  <name>HorasLuz Ratchet</name>
  <description>Aplicativo para calcular a quantidade de horas de luz que irão ocorrer no dia informado pelo usuário.</description>
  <author href="https://build.phonegap.com" email="support@phonegap.com">Luís Fernando Quitaiski</author>
</widget>
